:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
body {
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}
.delete-form {
  display: inline-block;
}
input {
  color: grey;
}
